Repository pulp/pulp_deb, pull requests merged in 2020-08, with the labels that each got.

#195 Modify data type of fields in content model
  CHANGES/7257.bugfix
  pulp_deb/app/migrations/0012_auto_20200803_1337.py
  pulp_deb/app/models/content.py
Labels: .bugfix

#193 Add missing fields in Package file
  CHANGES/7190.bugfix
  pulp_deb/app/serializers/content_serializers.py
Labels: .bugfix

#196 Change required status of package fields.
  CHANGES/7236.bugfix
  pulp_deb/app/serializers/content_serializers.py
Labels: .bugfix

#187 Add test for known cases where distribution is not codename or suite
  CHANGES/6051.misc
  CHANGES/7295.bugfix
  pulp_deb/app/models/content.py
  pulp_deb/app/tasks/publishing.py
  pulp_deb/app/tasks/synchronizing.py
  pulp_deb/tests/functional/api/test_publish_complex_dists.py
  pulp_deb/tests/functional/constants.py
Labels: .bugfix, .misc

#197 Fix relative path of packages
  CHANGES/7153.bugfix
  pulp_deb/app/models/content.py
Labels: .bugfix

#201 Rest api doc chapter
  CHANGES.rst
  docs/bindings.rst
  docs/external_references.rst
  docs/httpie_usage.rst
  docs/index.rst
  docs/installation.rst
  docs/rest_api.rst
  docs/workflows/sync.rst
Labels: .doc, [noissue]

#200 Add architecture=all consistent for simple and structured mode
  CHANGES/6991.bugfix
  pulp_deb/app/tasks/publishing.py
Labels: .feature

#198 Add high level feature overview documentation
  CHANGES/7318.doc
  docs/bindings.rst
  docs/external_references.rst
  docs/feature_overview.rst
  docs/index.rst
  docs/rest_api.rst
  docs/workflows.rst
  docs/workflows/upload.rst
Labels: .doc

#199 Add tests for publishing empty repository
  .travis/release.py
  CHANGES/7344.misc
  pulp_deb/app/models/content.py
  pulp_deb/app/serializers/remote_serializers.py
  pulp_deb/app/tasks/publishing.py
  pulp_deb/tests/functional/api/test_publish_empty_repository.py
  pulp_deb/tests/functional/setup_signing_service.py
Labels: .misc

#202 Add meaningful REST API endpoint descriptions
  CHANGES/7355.doc
  docs/_static/api.json
  pulp_deb/app/viewsets/content.py
  pulp_deb/app/viewsets/publication.py
  pulp_deb/app/viewsets/remote.py
  pulp_deb/app/viewsets/repository.py
Labels: .doc
