Repository pulp/pulp_deb, pull requests merged in 2020-07, with the labels that each got.

#189 OpenAPI v3 with drf-spectacular
  pulp_deb/app/viewsets/publication.py
  pulp_deb/app/viewsets/repository.py
Labels: [noissue]

#192 Fix API documentation
  CHANGES/6506.doc
  docs/_static/api.json
  docs/bindings.rst
Labels: .doc

#190 Fix gnupg metadata verification
  plugins/pulp_deb/plugins/importers/sync.py
  plugins/test/unit/plugins/db/test_models.py
  pulp-dev.py
Labels: .bugfix, pulp2

#191 Add a long_description to the python package
  CHANGES/6882.misc
  README.md
  requirements.txt
  setup.py
Labels: .misc

#194 Refactor the entire documentation
  CHANGES.rst
  CHANGES/7211.doc
  CONTRIBUTING.rst
  HISTORY
  HISTORY.rst
  docs/_static/api.json
  docs/bindings.rst
  docs/changes.rst
  docs/httpie_usage.rst
  docs/index.rst
  docs/installation.rst
  docs/workflows.rst
  docs/workflows/index.rst
  docs/workflows/publish.rst
  docs/workflows/sync.rst
  docs/workflows/upload.rst
Labels: .doc
