Repository pulp/pulp_deb, pull requests merged in 2021-09, with the labels that each got.

#345 Add a note about scheduling tasks
  docs/workflows/sync.rst
Labels: [noissue], .doc

#298 Make flat repo syncs more robust
  CHANGES/7673.bugfix
  pulp_deb/app/models/content.py
  pulp_deb/app/serializers/content_serializers.py
  pulp_deb/app/tasks/publishing.py
  pulp_deb/app/tasks/synchronizing.py
  pulp_deb/tests/functional/api/test_publish_flat_repo_format.py
Labels: .bugfix

#352 Opt out of the single commit CI check
  .github/template_gitref
  template_config.yml
Labels: [noissue]

#355 Update community discussion URLs
  docs/external_references.rst
  docs/plugin_maintenance.rst
Labels: [noissue], .doc
