Repository pulp/pulp_deb, pull requests merged in 2022-11, with the labels that each got.

#643 Improve documentation on metadata signing
  CHANGES/660.doc
  docs/feature_overview.rst
Labels: .doc

#675 Fix packages missing from Packages index
  CHANGES/674.bugfix
  pulp_deb/app/tasks/publishing.py
Labels: backport-2.18, backport-2.19, backport-2.20

#642 Fix sync not including packages only found in component `all`
  CHANGES/612.bugfix
  pulp_deb/app/tasks/synchronizing.py
Labels: .bugfix, backport-2.18, backport-2.19, backport-2.20
