Repository pulp/pulp_deb, pull requests merged in 2022-08, with the labels that each got.

#602 Handle duplicate "default" distribution publications
  CHANGES/601.bugfix
  pulp_deb/app/tasks/publishing.py
Labels: .bugfix, backport-2.17, backport-2.18, backport-2.16, backport-2.19

#454 Import export pulp_deb content
  .github/workflows/scripts/install.sh
  CHANGES/605.feature
  pulp_deb/app/modelresource.py
  pulp_deb/tests/functional/api/test_pulpexport.py
  pulp_deb/tests/functional/api/test_pulpimport.py
  template_config.yml
Labels: .feature

#604 Do not allow duplicate distributions in a single repo version
  CHANGES/603.bugfix
  pulp_deb/app/models/repository.py
  pulp_deb/app/tasks/exceptions.py
Labels: .bugfix

#570 Add optimize mode for sync tasks
  CHANGES/564.feature
  pulp_deb/app/serializers/__init__.py
  pulp_deb/app/serializers/repository_serializers.py
  pulp_deb/app/tasks/synchronizing.py
  pulp_deb/app/viewsets/repository.py
  pulp_deb/tests/functional/api/test_download_content.py
  pulp_deb/tests/functional/api/test_download_policies.py
  pulp_deb/tests/functional/api/test_publish.py
  pulp_deb/tests/functional/api/test_publish_complex_dists.py
  pulp_deb/tests/functional/api/test_publish_empty_repository.py
  pulp_deb/tests/functional/api/test_publish_flat_repo_format.py
  pulp_deb/tests/functional/api/test_pulpexport.py
  pulp_deb/tests/functional/api/test_pulpimport.py
  pulp_deb/tests/functional/api/test_sync.py
  pulp_deb/tests/functional/api/test_sync_missing_architecture.py
  pulp_deb/tests/functional/api/test_sync_optimize.py
  pulp_deb/tests/functional/constants.py
  requirements.txt
Labels: .feature

#623 Add feature overview documentation for Import/Export
  CHANGES/624.doc
  docs/external_references.rst
  docs/feature_overview.rst
Labels: .doc

#633 Do not validate_duplicate_content for APT repositories
  CHANGES/632.bugfix
  pulp_deb/app/models/repository.py
Labels: .bugfix
