Repository pulp/pulp_deb, pull requests merged in 2023-07, with the labels that each got.

#816 Fix async issues
  CHANGES/797.bugfix
  pulp_deb/app/tasks/synchronizing.py
Labels: .bugfix, backport-2.18, backport-2.19, backport-2.20, backport-2.21

#839 Drop 2.18 and 2.19 support
  .ci/scripts/changelog.py
  .ci/scripts/collect_changes.py
  .ci/scripts/update_ci_branches.py
  .github/template_gitref
  .github/workflows/codeql-analysis.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/scripts/update_ci.sh
  .github/workflows/update-labels.yml
  .github/workflows/update_ci.yml
  template_config.yml
Labels: [noissue]

#841 Update ci for 2.21
  .ci/scripts/changelog.py
  .ci/scripts/collect_changes.py
  .ci/scripts/update_ci_branches.py
  .github/template_gitref
  .github/workflows/codeql-analysis.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/scripts/update_ci.sh
  .github/workflows/update-labels.yml
  .github/workflows/update_ci.yml
  template_config.yml
Labels: [noissue]

#847 Convert import export tests
  CHANGES/846.misc
  pulp_deb/tests/functional/api/test_pulpexport.py
  pulp_deb/tests/functional/api/test_pulpexport_pulpimport.py
  pulp_deb/tests/functional/api/test_pulpimport.py
Labels: .misc, Tests
