Repository pulp/pulp_deb, pull requests merged in 2023-08, with the labels that each got.

#856 Update README badges
  README.md
Labels: [noissue]

#851 Remove pulp smash
  CHANGES/796.misc
  functest_requirements.txt
  pulp_deb/tests/functional/api/test_crud_content_unit.py
  pulp_deb/tests/functional/api/test_crud_packages.py
  pulp_deb/tests/functional/api/test_crud_remotes.py
  pulp_deb/tests/functional/api/test_download_content.py
  pulp_deb/tests/functional/api/test_download_policies.py
  pulp_deb/tests/functional/api/test_publish.py
  pulp_deb/tests/functional/api/test_sync.py
  pulp_deb/tests/functional/conftest.py
  pulp_deb/tests/functional/constants.py
  pulp_deb/tests/functional/utils.py
  requirements.txt
Labels: .misc, Tests

#864 Replace the Pulp Ansible installer with the OCI images in the docs
  CHANGES/779.doc
  docs/bindings.rst
  docs/external_references.rst
  docs/installation.rst
Labels: .doc

#866 Add documentation for installing pulp-cli-deb
  CHANGES/598.doc
  docs/external_references.rst
  docs/installation.rst
Labels: .doc

#880 Fix API root for the deb/copy/ endpoint for s3
  CHANGES/879.misc
  pulp_deb/app/urls.py
Labels: .misc, backport-2.20, backport-2.21

#878 Add tests for advanced copy task
  CHANGES/758.misc
  pulp_deb/tests/functional/api/test_copy.py
  pulp_deb/tests/functional/conftest.py
  pulp_deb/tests/functional/constants.py
Labels: .misc, Tests
