Repository pulp/pulp_deb, pull requests merged in 2023-06, with the labels that each got.

#647 #646: Add filters to select by related pulp_deb content types
  CHANGES/646.feature
  pulp_deb/app/viewsets/content.py
Labels: .feature

#689 #641: Specify and remember the Signing Services we want to use for each Repo / Release.
  CHANGES/641.feature
  docs/feature_overview.rst
  pulp_deb/app/migrations/0023_add_default_signing_services.py
  pulp_deb/app/models/__init__.py
  pulp_deb/app/models/repository.py
  pulp_deb/app/serializers/repository_serializers.py
  pulp_deb/app/tasks/publishing.py
  pulp_deb/tests/functional/api/test_publish.py
Labels: .feature

#781 Add tests for related content filters
  CHANGES/780.misc
  pulp_deb/app/viewsets/content.py
  pulp_deb/tests/functional/api/test_sync.py
  pulp_deb/tests/functional/conftest.py
Labels: .misc, Tests

#778 Fixed KeyError during publish for unmatched arch
  CHANGES/777.bugfix
  pulp_deb/app/tasks/publishing.py
Labels: .bugfix, backport-2.18, backport-2.19, backport-2.20, backport-2.21

#760 Merge colliding structure content
  .bumpversion.cfg
  CHANGES/599.misc
  CHANGES/599.removal
  docs/_scripts/structured_repo.sh
  docs/conf.py
  pulp_deb/app/__init__.py
  pulp_deb/app/migrations/0025_merge_colliding_structure_content.py
  pulp_deb/app/models/content/structure_content.py
  pulp_deb/app/serializers/content_serializers.py
  pulp_deb/app/tasks/synchronizing.py
  pulp_deb/app/viewsets/content.py
  setup.py
Labels: .bugfix, .misc, .removal

#791 Updated the scoping of the pytest fixtures.
  CHANGES/790.misc
  pulp_deb/tests/functional/api/test_download_content.py
  pulp_deb/tests/functional/api/test_download_policies.py
  pulp_deb/tests/functional/api/test_publish.py
  pulp_deb/tests/functional/api/test_sync.py
  pulp_deb/tests/functional/conftest.py
Labels: .misc, Tests

#804 Fix content creation when unapplying migration 0021
  CHANGES/806.bugfix
  pulp_deb/app/migrations/0021_remove_release_from_structure_types.py
Labels: .bugfix, backport-2.21

#805 Structured upload fixes
  CHANGES/807.bugfix
  pulp_deb/app/serializers/content_serializers.py
Labels: .bugfix, backport-2.21

#794 Add publish_upstream_release_fields option
  CHANGES/793.feature
  pulp_deb/app/migrations/0026_aptrepository_publish_upstream_release_fields.py
  pulp_deb/app/models/repository.py
  pulp_deb/app/serializers/publication_serializers.py
  pulp_deb/app/serializers/repository_serializers.py
  pulp_deb/app/tasks/publishing.py
  pulp_deb/app/viewsets/publication.py
Labels: .feature
